/*
! Created On Fri January 03 10:20 PM 2025

! @author: Talha Usman
! Status: Developer
*/

/* Specific Styles for Auth Pages */
.auth-container {
  background-color: #2a2a2a;
  border-radius: 10px;
}

h2 {
  color: #ff4081;
  font-size: 2.5rem;
}

.form-group input {
  padding: 15px;
  font-size: 1.1rem;
}

.btn {
  background-color: #ff4081;
  border: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #1e88e5;
}

/* Flash message position */
#flash-message {
  position: fixed;
  top: 20%;
  right: 20px;
  z-index: 1000;
}
